@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&family=DM+Sans:ital,wght@0,300;0,500;0,600;0,700;1,600&display=swap');

:root {
  --color-neutral-900: 243 96% 9%;
  --color-neutral-800: 243 27% 20%;
  --color-neutral-700: 243 23% 24%;
  --color-neutral-600: 243 23% 30%;
  --color-neutral-300: 240 6% 70%;
  --color-neutral-200: 250 6% 84%;
  --color-neutral-0: 0 0% 100%;

  --color-orange-500: 28 100% 52%;
  --color-blue-500: 233 67% 56%;
  --color-blue-700: 248 70% 36%;
}

body {
  margin: 0;
  font-family: 'DM Sans', ui-sans-serif, system-ui;
  font-size: 18px;
  background-color: hsl(var(--color-neutral-900));
  color: hsl(var(--color-neutral-0));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/BricolageGrotesque-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'DM Sans', ui-sans-serif, system-ui;
}
